$color-bg-primary: var(--color-bg-primary);
$color-bg-secondary: var(--color-bg-secondary);
$color-bg-middle: var(--color-bg-middle);
$color-bg-light: var(--color-bg-light);
$color-bg-body: var(--color-bg-body);
$color-bg-fields: var(--color-bg-fields);
$color-dark-bg-primary: var(--color-dark-bg-primary);
$color-dark-bg-secondary: var(--color-dark-bg-secondary);
$color-dark-bg-middle: var(--color-dark-bg-middle);
$color-dark-bg-light: var(--color-dark-bg-light);
$color-dark-bg-body: var(--color-dark-bg-body);
$color-dark-bg-fields: var(--color-dark-bg-fields);

$color-brand-primary: var(--color-brand-primary);
$color-brand-secondary: var(--color-brand-secondary);

$color-white: #ffffff;
$color-text-primary: var(--color-text-primary);
$color-text-secondary: var(--color-text-secondary);
$color-dark-text-primary: var(--color-dark-text-primary);
$color-dark-text-secondary: var(--color-dark-text-secondary);

$color-state-success: var(--color-state-success);
$color-state-warning: var(--color-state-warning);
$color-state-error: var(--color-state-error);
