//
// Screensizes
//
$sm: 1024px;
$md: 1666px;
$lg: 1780px;

//
//  App layout
//
$app-offset: 16px;
$form-offset: 20px;

$app-sidebar: 275px;
$app-header: 80px;
$app-inner-content: 540px;
$app-inner-content-sm: 440px;
$app-icon-height: 24px;
