//
// App
//
$fz-main: 14px;
$fz-main-big: 18px;
$fz-main-small: 12px;
$icon-offset-main: 12px;

//
//  Label
//
$label-width: 160px;
$label-offset: $app-offset;
$label-color: $color-text-secondary;
$label-fz: 14px;
$label-lh: 22px;
$label-fw: 500;

$border-radius_primary: 6px;
$border-radius_secondary: 4px;
