@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.PageProfile {
  position: relative;
  background: $color-dark-bg-body-dark;
}

.PageProfile__static {
  max-width: $app-inner-content;
}

.PageProfile__form {
  max-width: $app-inner-content;
}
