@import "@/app/assets/styles/app/mixins";
@import "@/app/assets/styles/app/variables";

.LayoutAuth {
  width: 100vw;
  height: 100vh;
  background: $color-dark-bg-body;
  padding: 48px 16px;
  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.LayoutAuth__logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.LayoutAuth__content {
  width: 100%;
}

.LayoutAuth__animation {
  &-enter-active,
  &-leave-active {
    transition: 0.3s cubic-bezier(.73,1.09,.85,.9);
    opacity: 1;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
    transition: none;
  }
}
