@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.PageAuth {
  padding: calc(#{$app-offset} * 2) $app-offset;
}


.PageAuth__tabs {
  margin: calc(#{$app-offset} * 2) auto;
  max-width: $app-inner-content-sm;
}
