@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.PageIssuesDetails {
  position: relative;
  display: flex;
  gap: 16px;
  background: $color-dark-bg-body-dark;
}

.PageIssuesDetails__sidebar {
  @include style-block();
  position: fixed;
  top: $app-header;
  right: 0;
  z-index: 1;
  overflow: auto;
  flex: 0 0 400px;
  padding: $app-offset;
  border: 1px solid $color-dark-bg-fields;
  border-top: none;
  background-color: $color-dark-bg-body;
  height: calc(100vh - #{$app-header});
  width: $app-sidebar;
  color: $color-dark-text-primary !important;
}

.PageIssuesDetails__content {
  flex: 1 0 auto;
  max-width: calc(100vw - #{$app-sidebar * 2} - #{$app-offset * 2});
}
