@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.TheBrandLogo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.TheBrandLogo__icon {
  color: $color-brand-primary;
}

.TheBrandLogo__text {
  font-size: 20px;
  font-weight: 700;
  color: $color-white;
}
