@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.header {
  @include style-block();
  display: flex;
  justify-content: space-between;
  padding: $app-offset $app-offset * 2;
  align-items: center;
  min-height: $app-header;

  &__toggle {
    @include transition();
    transform: scale(-1, 1);

    &--rotated {
      transform: scale(1, 1);
    }
  }

  &__nav {
    position: relative;
    display: flex;
    gap: $app-offset;
  }

  &__profile,
  &__toggle {
    display: flex;
    align-items: center;
    margin-right: $app-offset;
  }

  &__button {
    display: flex;
    align-items: center;
    margin-right: $app-offset;

    &:last-child {
      margin-right: 0;
    }
  }

  &__search {
    flex-grow: 1;
    margin-right: $app-offset;
  }
}
