@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.IssuesDetails {
  position: relative;
}

.IssuesDetails__description {
  padding: $app-offset;
  min-height: 380px;
  max-width: 100%;
  display: inline-block;
  font-size: $fz-main-md;
  border: 1px solid $color-bg-body;
  border-radius: 3px;
}

.IssuesDetails__pre {
  display: block;
  max-width: 100%;
  position: relative;
  font-family: $font-main;

  width: 100%;
  padding: 0;
  margin: 0;
  font-size: $fz-main;
  line-height: 1.5;
  white-space:pre-wrap;
}
