@import "@/app/assets/styles/app/mixins";
@import "@/app/assets/styles/app/variables";

.channelsList {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: $app-offset;
}

.channelsList__container {
  width: 100%;
}

.channelsList__containerList {
  background: transparent;
}

.channelsList__containerDesc {
  position: relative;
  --n-title-text-color: var(--color-brand-primary) !important;
  --n-th-font-weight: 600 !important;
}

.channelsList__containerListItem {
}

.channelsList__link {
  color: $color-dark-text-primary;
  font-weight: 500;
  font-size: $fz-main;
}
