@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.LayoutMain__sidebar {
  position: fixed;
  z-index: 9;
  top: 0;
  width: $app-sidebar;
  height: 100vh;
  overflow: auto;
  left: 0;
  transition: $transition_time $transition_effect;
}

.LayoutMain__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: $app-header;
  background-color: $color-dark-bg-primary;
  z-index: 0;
}

.LayoutMain__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: calc(100% - 16px);
}

.LayoutMain__wrapper {
  height: 100vh;
  transition: $transition_time $transition_effect;
  padding-left: calc(#{$app-sidebar} + #{$app-offset});
  padding-top: calc(#{$app-header} + #{$app-offset});
}

.LayoutMain__main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

//
// router components animation
//
$router-animation-time: 0.35s;
$router-animation-effect: cubic-bezier(.73, 1.09, .85, .9);

.router-animation {
  &-enter-active,
  &-leave-active {
    transition: 0.15s cubic-bezier(.73, 1.09, .85, .9);
    opacity: 1;
  }

  &-enter,
  &-leave-to {
    transition: 0.25s cubic-bezier(.73, 1.09, .85, .9);
    opacity: 0;
  }
}
