@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.TrackersDetailsInfo {
  position: relative;
}

.TrackersDetailsInfo__descContainer {
  --n-title-text-color: var(--color-brand-primary) !important;
  --n-th-text-color: var(--color-dark-text-secondary) !important;
  --n-td-text-color: var(--color-dark-text-primary) !important;
}

.TrackersDetailsInfo__descItem {
  color: $color-dark-text-primary;
  font-weight: 500;
  font-size: $fz-main;
}

.TrackersDetailsInfo__linkItem {
  color: $color-dark-text-primary;
  font-weight: 500;
  font-size: $fz-main;
}

.TrackersDetailsInfo__linkContainer {
  padding: 4px 0;
}

.TrackersDetailsInfo__divider {
  --n-color: var(--color-text-primary) !important;
}
