@import "@/assets/styles/app/mixins";
@import "@/assets/styles/app/variables";

.PageChannelDetails {
  position: relative;
  display: flex;
  gap: 16px;
  padding-right: calc(#{$app-sidebar} + 16px);
  background: $color-bg-primary;
}

.PageChannelDetails__sidebar {
  @include style-block();
  flex: 0 0 400px;
  padding: 20px;
  position: fixed;
  right: 0;
  border: 1px solid $color-dark-bg-fields;
  background-color: $color-dark-bg-body;
  top: 0;
  height: 100vh;
  width: $app-sidebar;
  color: $color-dark-text-primary !important;
}

.PageChannelDetails__content {
  flex: 1 0 auto;
}
