*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

html, body {
    width: 100%;
    height: 100%;
    background: $color-dark-bg-body-dark;
    line-height: 1.425;
    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
}

#app {
    height: 100%;
    color: $color-text-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font_main;
}

body {
    /** min viewport width */
    min-width: 1368px;
}

a {
    display: inline-flex;
    color: $color-text-secondary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        color: $color-brand-primary;
    }
    &.router-link-active {
        color: $color-brand-primary;
        cursor: default;
        text-decoration: none !important;
    }
}
