body {
  --color-state-success: #1fc970;
  --color-state-warning: #eeb12c;
  --color-state-error: #ef3a39;

  //--color-brand-primary: #18a058;
  --color-brand-primary: #18a058;
  --color-brand-secondary: #1fc970;

  --color-bg-primary: #fff;
  --color-bg-secondary: #fff;
  --color-bg-middle: #d5e5e2;
  --color-bg-light: #f6f9f8;
  --color-bg-body: #eef0ef;
  --color-bg-fields: #f6f8f7;
  --color-dark-bg-primary: #2f2f2f;
  --color-dark-bg-secondary: #2a2a2a;
  --color-dark-bg-middle: #282828;
  --color-dark-bg-light: #414345;
  --color-dark-bg-body: #202020;
  --color-dark-bg-fields: #3d3d3f;
  --color-dark-bg-body-dark: #181818;


  --color-text-primary: #efefef;
  --color-text-secondary: #757575;
  --color-dark-text-primary: #efefef;
  --color-dark-text-secondary: #757575;
}
