@import "@/app/assets/styles/app/mixins";
@import "@/app/assets/styles/app/variables";

.sidebar {
  @include style-block();
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  background: $color-dark-bg-body;
  border: 1px solid $color-dark-bg-fields;
  border-bottom: none;
  color: $color-dark-text-primary;

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $app-offset;
    width: 100%;
    height: $app-header;
    border-top: 1px solid $color-dark-bg-fields;
    border-bottom: 1px solid $color-dark-bg-fields;
    background-color: $color-dark-bg-primary;
    text-decoration: none !important;
    @include transition();
    &:focus {
      outline: none;
    }
    &:hover {
      opacity: 0.85;
    }
  }

  &__logoImg {
    display: block;
    width: 100%;
  }

  &__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__space {
    position: relative;
    width: 100%;
  }

  &__descContainer {
    position: relative;
    --n-title-text-color: var(--color-brand-primary) !important;
    --n-th-font-weight: 600 !important;
  }

  &__navContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: $app-offset $app-offset;
    &:first-child {
      flex: 1;
    }
  }

  &__navBtn {
    color: $color-dark-text-primary;
  }

  &__navItem {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    color: $color-brand-primary;
    font-weight: 600;
    font-size: 26px;
  }

  &__widget {
    display: flex;
    align-items: center;
    &-text {
      display: inline-block;
      color: $color-white;
      text-decoration: none;
      padding-left: 20px;
      font-size: 18px;
    }
  }
}
